html {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar {
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all .3s ease;
  background: #BDD4D5;
}
.navbar.sticky {
  padding: 10px 0;
}
.navbar .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-list{
  display: inline-flex;
}
.menu-list li {
  list-style: none;
}
.menu-list li a {
  color: #1A444E;
  font-size: 15px;
  font-weight: 200;
  margin-left: 25px;
  text-decoration: none;
  transition: all .3s ease;
}
.menu-list li a:hover{
  color: #6b9393;
}

.logo img {
  width: 70px;
}


/* FOOTER */
footer {
  background: #BDD4D5;
  padding: 35px;
}

.contact-section {
  background: #BDD4D5;
  background-size: cover;
  margin-left: 3rem;
}


.column {
  float: left;
  width: 25%;
}

.contact-logo {
  height: 50px;
}
.contact-icon {
  height: 20px;
}

.contact-icon1 {
  height: 25px;
}

.p1 {
  font-weight: bold;
  font-size: 18px;
}



.columns:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.media-pic img {
  width: 30px;
  margin-right: 1rem;
  margin-top: 1rem;
}

@media (min-width: 887px) {
  .column {
    float: left;
    width: 25%;
  }
  .columns:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width : 887px) {
  .contact-section h1 {
    font-size: 30px;
  }

  .contact-section h3 {
    font-size: 23px;
  }

}
