html {
    font-family: "Poppins", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.content {
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
/* FØRSTE HEADER */

header {
    background-color: #BDD4D5;
    padding: 10px;
}
header .sticky {
    padding: 10px 0;
  }
.topnav li {
  float:right;
  list-style: none;
  padding: 10px 10px 0 10px;
}

.opret {
  font-weight: 300;
  color: #fff;
  text-decoration: none;
  border: solid 1px #93AEAF;
  background: #93AEAF;
  padding: 6px 10px 6px 10px;
  border-radius: 20px;
}

.login {
  color: #1A444E;
}

.topnav li a {
  text-decoration: none;
}

.logo img {
    width: 90px;
    margin-top: 10px;
  }

 .topnav input[type=text] {
    align-items: center;
    justify-content: end;
    font-size: 12px;
    font-weight: 100;
    padding: 7px 100px 7px 7px;
    border-radius: 30px;
    border-color: none;
 }

/* NAVIGATION */

.navbar {
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all .2s ease;
  background: #1A444E;
}

.navbar .content {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: -10px 0 -10px 0;
}

.navbar .menu-list{
  display: inline-flex;
}
.menu-list li {
  list-style: none;
  padding: 0 15px 0 15px;
}
.menu-list li a {
  color: #fff;
  font-size: 15px;
  font-weight: 200;
  margin-left: 25px;
  text-decoration: none;
  transition: all .3s ease;
}
.menu-list li a:hover{
  color: #6b9393;
}
hr {
  border: .5px solid white;
}


/* FOOTER */
footer {
  background: #BDD4D5;
  padding: 35px 20px 0 20px;
}

.contact-section {
  background: #BDD4D5;
  background-size: cover;
  margin-left: 3rem;
}


.column {
  float: left;
  width: 25%;
}

.contact-logo {
  height: 50px;
}
.contact-icon {
  height: 20px;
}

.contact-icon1 {
  height: 25px;
}

.p1 {
  font-weight: 400;
  font-size: 20px;
  color: #1A444E;
}

.p2 {
  font-weight: 300;
  font-size: 16px;
  color: #1A444E;
}


.columns:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}

.media-pic img {
  width: 30px;
  margin-right: 1rem;
  margin-top: 1rem;
}

.copyright {
  text-align: center;
  font-weight: 200;
}

@media (min-width: 887px) {
  .column {
    float: left;
    width: 25%;
    padding-left: 25px;
  }
  .columns:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width : 887px) {
  .contact-section h1 {
    font-size: 30px;
  }

  .contact-section h3 {
    font-size: 23px;
  }

}
